<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add connectionString="server=localhost;user=root;database=isp;password=thisMySql1,;" name="DefaultConnection"/>
	</connectionStrings>
	<appSettings>
		<add key="BackgroundButtonMenu" value="100 100 100"/>
	</appSettings>
</configuration>